@media (min-width: 767px) {
	.svg-box1 {
	  height: 100vh !important;
	}
	.svg-box2 {
	  height: 100vh !important;
	}
	.svg-box3 {
	  height: 100vh !important;
	}
	.svg-box4 {
	  height: 100vh !important;
	}
}

@media (max-width: 767px) {
	.tagline {
		display: none;
	}
}

@media (min-width: 991px) {
	.portrait {
		height:100vh;
		width:100vw;
	}
	.signature {
		height:100vh;
	}
	.svg-title-mobile {
		display: none;
	}
	.floating-text {
		position: sticky;
		position: -webkit-sticky;
		top: 0;
		padding-top: 15rem;
		padding-bottom: 22rem;
	}
}

@media (max-width: 991px) {
	.portrait {
		height:45vh !important;
	}
	.signature {
		height:55vh !important;
	}
	.illustration {
		height:70vh;
	}
	
	.svg-box1, .svg-box2, .svg-box3 {
		height: 100vh;
	}
	.svg-box4 {
		height: 100vh;
	}
	.svg-title-desktop {
		display: none !important;
	}
	.caption {
		display: none !important;
	}
}