/* TEMPLATE: Symmetrical nav with fullscreen menu in Mobile */

@media only screen
  and (min-width: 991px) {
    .brand {
		display: none;
    }
}

@media only screen
  and (max-width: 767px) {
    .navbar-collapse li { /* MOBILE: Adjust text in fullscreen menu */
		font-size: 1.5rem;
		word-spacing: -0.05rem;
		line-height: 40px;
		margin: 0px;
    }
}

@media (min-width: 767px)
  and (max-width: 991px) {
    .navbar-collapse li { /* MOBILE: Adjust text in fullscreen menu */
		font-size: 2rem;
		word-spacing: -0.05rem;
		line-height: 40px;
		margin: 0px;
    }
}

@media only screen
  and (max-width: 991px) {
    .navbar-nav { /* MOBILE: Position links in fullscreen menu */
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
    }
	
    .navbar-collapse {
		position: fixed;
        top: 0%;
		width: 100vw;
        height: 100vh;
		background-color: #094877;
		z-index: -1;
    }

    .navbar-collapse.collapsing {
        right: -100%;
    }

    .navbar-collapse.show {
        right: 0;
        transition: right 0.3s ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: right 0.3s ease-in-out;
    }
	
	.switch-color { /* MOBILE: Disable scroll in fullscreen menu */
		overflow: hidden;
	}
    
    .switch-color .nav-item a {color: #f9f6e8 !important} /* MOBILE: Text color in fullscreen menu */
    .switch-color .nav-item:hover a { /* MOBILE: Text hover color in fullscreen menu */
		color: #af3618 !important;
		transition: 0.3s !important;
    }
    
    .switch-color .animated-icon span { /* MOBILE: Change nav toggler color on switch */
		background: #f9f6e8 !important;
	}
}