@media (max-width: 767px) {
	.tagline {
		display: none;
	}
}

@media (min-width: 991px) {
	.portrait {
		height: calc(100 * var(--vh));
		width: 100vw;
	}
	.signature {
		height: calc(100 * var(--vh));
	}
	.svg-title-mobile {
		display: none;
	}
}

@media (max-width: 991px) {
	.portrait {
		height: calc(45 * var(--vh));
	}
	.signature {
		height: calc(55 * var(--vh));
	}
	.signature-inner {
		margin-top: -15%;
	}
	.svg-title-desktop {
		display: none !important;
	}
	.caption {
		display: none !important;
	}
	.fp-right {top: 72.5% !important}
}

.fp-tooltip {
  font-family: 'Playfair Display', serif !important;
  font-size: 16px !important;
  top: -8px !important;
}

#arthur-rackham, #tove-jansson, #william-morris, #edward-hopper, #claude-monet {
  pointer-events: none;
}

#fp-nav ul li a span {background: #e0c975 !important}
.fp-tooltip {color: #e0c975 !important}
.animated-icon span {background: #e0c975 !important}

.fp-viewing-ArthurRackham #arthur-rackham {display: block}
.fp-viewing-ArthurRackham #tove-jansson {display: none}
.fp-viewing-ArthurRackham #william-morris {display: none}
.fp-viewing-ArthurRackham #edward-hopper {display: none}
.fp-viewing-ArthurRackham #claude-monet {display: none}

.fp-viewing-ToveJansson #arthur-rackham {display: none}
.fp-viewing-ToveJansson #tove-jansson {display: block}
.fp-viewing-ToveJansson #william-morris {display: none}
.fp-viewing-ToveJansson #edward-hopper {display: none}
.fp-viewing-ToveJansson #claude-monet {display: none}

.fp-viewing-WilliamMorris #arthur-rackham {display: none}
.fp-viewing-WilliamMorris #tove-jansson {display: none}
.fp-viewing-WilliamMorris #william-morris {display: block}
.fp-viewing-WilliamMorris #edward-hopper {display: none}
.fp-viewing-WilliamMorris #claude-monet {display: none}

.fp-viewing-EdwardHopper #arthur-rackham {display: none}
.fp-viewing-EdwardHopper #tove-jansson {display: none}
.fp-viewing-EdwardHopper #william-morris {display: none}
.fp-viewing-EdwardHopper #edward-hopper {display: block}
.fp-viewing-EdwardHopper #claude-monet {display: none}

.fp-viewing-ClaudeMonet #arthur-rackham {display: none}
.fp-viewing-ClaudeMonet #tove-jansson {display: none}
.fp-viewing-ClaudeMonet #william-morris {display: none}
.fp-viewing-ClaudeMonet #edward-hopper {display: none}
.fp-viewing-ClaudeMonet #claude-monet {display: block}
