/* TEMPLATE: Symmetrical nav with fullscreen menu in Mobile */

@media only screen
  and (min-width: 991px) { /* DESKTOP: Hide brand at left & Show brand in center */
    .brand-mobile-only {
		display: none;
    }
}

@media only screen
  and (max-width: 991px) {
    .brand-desktop-only { /* MOBILE: Hide brand in nav list & Show brand at left */
		display: none;
    }
    
    .navbar-collapse li { /* MOBILE: Adjust text in fullscreen menu */
		font-size: 2rem;
		word-spacing: -0.05rem;
		line-height: 50px;
		margin: 0px;
    }
    
    .navbar-nav { /* MOBILE: Position links in fullscreen menu */
		position: center;
		margin-top: 35%;
    }
	
    .navbar-collapse {
		position: fixed;
        top: 0%;
		left: 0%;
		width: 100vw;
        height: 100vh;
		background-color: black;
		z-index: -1;
    }
	
	.logo-left {
		position: absolute;
		transition: opacity 0.3s linear;
	}
	
	.logo-left-color {
		opacity: 0;
		transition: opacity 0.3s linear;
	}

	.switch-color { /* MOBILE: Disable scroll in fullscreen menu */
		overflow: hidden;
	}
    
    .switch-color .nav-item a {color: white !important} /* MOBILE: Text color in fullscreen menu */
    .switch-color .nav-item:hover a { /* MOBILE: Text hover color in fullscreen menu */
		color: gray !important;
		transition: 0.3s !important;
    }
    
    .switch-color .animated-icon span { /* MOBILE: Change nav toggler color on switch */
		background: white;
	}
}