@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');

@font-face {
font-family: 'Salzburg';
src: url('fonts/Salzburg.ttf');
}


// Options
// 
// Quickly modify global styling by enabling or disabling optional features.
  
$enable-rounded:            false;
$enable-shadows:            false;
$enable-gradients:          false;
$enable-transitions:        true;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;
$enable-print-styles:       true;


// Variables
//
// Colors

$theme-colors: (
  primary: black,
  secondary: #af3618,
  light: #f9f6e8,
  dark: black,
  info: white,
  success: #28a745,
  warning: #ffc107,
  danger: #dc3545
);

$body-bg: white;
$body-color: black;

$body-color-inverse: invert($body-color) !default;
$link-color: black;


// Fonts

$font-family-base: 'Playfair Display', serif;
$headings-font-family: 'Hammersmith One', sans-serif;
$display-font-family: 'Hammersmith One', sans-serif;
$btn-font-family: 'Hammersmith One', sans-serif;


$headings-font-weight: 200;
$lead-font-size: 1.3rem;

$spacer: 1.5rem;

$enable-responsive-font-sizes: true;
$font-size-base: 1.0rem;



/* Remove scroll bar in Chrome */
html::-webkit-scrollbar {display: none;}


/* Remove scroll bar in Firefox */
html {scrollbar-width: none;}


/* Full-height cover section
html, body {
   height:100%;
} */


/* Override navbar's font style & Add hover transition */
.nav-link {font-family:'Hammersmith One' !important;}
.nav-item a {
  color:black !important;
  transition: 0.3s !important;
}
.nav-item:hover a {
  color:#af3618 !important;
  transition: 0.3s !important;
}


.navbar img { /* Add transition while shrinking logo on scroll */
  transition: 0.8s !important;
}


/* Override dropdown's click highlight color */
.dropdown-item:active {
background-color: transparent !important;
}


/* Remove outline around selected buttons */
*:focus {
    outline: 0 !important;
}


/* Override letter spacing in buttons */
.btn {
  letter-spacing: 0.05rem;
}


/* Button hover transition */
.btn-outline-light, .btn-outline-dark {
   transition: background .5s ease !important;
}

.btn-dark {
   background:#f9f6e8 !important;
   color:#af3618 !important;
   border: 3px solid #af3618 !important;
   transition: background .5s ease !important;
}

.btn-dark:hover {
   background:#af3618 !important;
   color:#f9f6e8 !important;
   border: 3px solid #af3618 !important;
   transition: background .5s ease !important;
}

.btn-primary {
   border:none !important;
   transition: background .5s ease !important;
}

.btn-primary:hover {
   background:white !important;
   color:#af3618 !important;
   border:none !important;
   transition: background .5s ease !important;
}


/* Override letter spacing in headings */
h1 {
  letter-spacing: 0.05rem;
}

h2 {
  letter-spacing: 0.05rem;
}

h3 {
  letter-spacing: 0.05rem;
}

h4 {
  letter-spacing: 0.05rem;
}

h5 {
  letter-spacing: 0.05rem;
}

h6 {
  letter-spacing: 0.05rem;
}


/* Drop caps for paragraphs */
drop {
   float: left;
   line-height: 85%;
   width: .7em;
   font-size: 450%;
   font-family: 'Playfair Display', serif;
}


/* Adjust owl carousel's slide height */
.slide-item {
   height: 850px;
}


/* Styling owl carousel's prev & next buttons */
.owl-prev, .owl-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border:0px solid black;
    }
    .owl-prev {left: 20px;}
    .owl-next {right: 20px;}
    .owl-prev i, .owl-next i {
        transform : scale(3,3);
        color: #ffffff;}

.owl-carousel .owl-item {
  -webkit-transform: translate3d(0px, 0px, 0px);}


/* Responsive layout for overlapping elements */
.overlapping-text {
  margin-top: 100px;
  margin-left: -200px;
  margin-bottom: 150px;
  z-index: -1;
}

.overlapping-image {
  z-index: 1;
}

@media only screen
  and (max-width: 767px) {
	.overlapping-text {
    margin: 0;
  	margin-top: -200px;
  }
}


/* Remove blank space below footer on iPad */
body {   
   padding-bottom:0 !important;
   margin-bottom:0 !important;
}


/* Animated SVGs */
#signmylogo {
  opacity: 0;
}

#signmylogo.animated {
  opacity: 1;
  .BYmjNPRl_0{stroke-dasharray:55 57;stroke-dashoffset:56;animation:BYmjNPRl_draw 700ms ease 0ms forwards;}.BYmjNPRl_1{stroke-dasharray:55 57;stroke-dashoffset:56;animation:BYmjNPRl_draw 700ms ease 0ms forwards;}@keyframes BYmjNPRl_draw{100%{stroke-dashoffset:0;}}@keyframes BYmjNPRl_fade{0%{stroke-opacity:1;}91.48936170212767%{stroke-opacity:1;}100%{stroke-opacity:0;}}
.hMniVvKr_0{stroke-dasharray:7 9;stroke-dashoffset:8;animation:hMniVvKr_draw 700ms ease 0ms forwards;}.hMniVvKr_1{stroke-dasharray:15 17;stroke-dashoffset:16;animation:hMniVvKr_draw 700ms ease 0ms forwards;}.hMniVvKr_2{stroke-dasharray:60 62;stroke-dashoffset:61;animation:hMniVvKr_draw 700ms ease 0ms forwards;}.hMniVvKr_3{stroke-dasharray:61 63;stroke-dashoffset:62;animation:hMniVvKr_draw 700ms ease 0ms forwards;}@keyframes hMniVvKr_draw{100%{stroke-dashoffset:0;}}@keyframes hMniVvKr_fade{0%{stroke-opacity:1;}91.48936170212767%{stroke-opacity:1;}100%{stroke-opacity:0;}}
.KFThoDDT_0{stroke-dasharray:231 233;stroke-dashoffset:232;animation:KFThoDDT_draw 900ms ease-in-out 0ms forwards;}@keyframes KFThoDDT_draw{100%{stroke-dashoffset:0;}}@keyframes KFThoDDT_fade{0%{stroke-opacity:1;}91.83673469387755%{stroke-opacity:1;}100%{stroke-opacity:0;}}
.AmGCHOhW_0{stroke-dasharray:110 112;stroke-dashoffset:111;animation:AmGCHOhW_draw 600ms ease 0ms forwards;}@keyframes AmGCHOhW_draw{100%{stroke-dashoffset:0;}}@keyframes AmGCHOhW_fade{0%{stroke-opacity:1;}91.30434782608695%{stroke-opacity:1;}100%{stroke-opacity:0;}}
  .signmylogo-stroke1 path {animation-delay: 0.8s}
  .signmylogo-stroke2 path {animation-delay: 1.2s}
  .signmylogo-stroke3 path {animation-delay: 0.3s}
  .signmylogo-stroke4 path {animation-delay: 1.2s}
}


@import 'bootstrap-4.3.1';

.cocoen {
}